
header{
    background-color: #f5ba13;
    margin: -16px -16px auto;
    padding: 8px 32px;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.3);

    h1{
        color: #fff;
        font-family: "McLaren", cursive;
        font-weight: 200;
    }
}
